In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:\\ML\\dataset\\label.csv")

In [3]:
df.head()

    housetype  bedroom  sqrft  rate
0      rental        1   2300  2500
1     ownflat        2   3000  6000
2  individual        3   5000  9000
3       lease        2   2680  4000
4      rental        1   2700  3000

In [6]:
df['housetype'].unique()

array(['rental', 'ownflat', 'individual', 'lease'], dtype=object)

duumy variable

In [4]:
dumm=pd.get_dummies(df.housetype)
print(dumm)

    individual  lease  ownflat  rental
0            0      0        0       1
1            0      0        1       0
2            1      0        0       0
3            0      1        0       0
4            0      0        0       1
5            0      0        0       1
6            0      0        1       0
7            0      0        1       0
8            0      0        1       0
9            1      0        0       0
10           1      0        0       0
11           1      0        0       0
12           1      0        0       0
13           0      1        0       0
14           0      1        0       0

In [28]:
merged=pd.concat([df,dumm],axis='columns')
print(merged)

     housetype  bedroom  sqrft   rate  individual  lease  ownflat  rental
0       rental        1   2300   2500           0      0        0       1
1      ownflat        2   3000   6000           0      0        1       0
2   individual        3   5000   9000           1      0        0       0
3        lease        2   2680   4000           0      1        0       0
4       rental        1   2700   3000           0      0        0       1
5       rental        1   2701   3200           0      0        0       1
6      ownflat        2   5400   9800           0      0        1       0
7      ownflat        2   4000   5000           0      0        1       0
8      ownflat        2   6000   9700           0      0        1       0
9   individual        3   6000  10000           1      0        0       0
10  individual        3   5100   8000           1      0        0       0
11  individual        2   5000   6000           1      0        0       0
12  individual        2   5400   8000           1      0        0       0
13       lease        1   1000   1200           0      1        0       0
14       lease        3   2700   4100           0      1        0       0

In [29]:
final=merged.drop(['housetype','rental'],axis='columns')

In [30]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [34]:
x=final.drop(['rate'],axis='columns')
x

    bedroom  sqrft  individual  lease  ownflat
0         1   2300           0      0        0
1         2   3000           0      0        1
2         3   5000           1      0        0
3         2   2680           0      1        0
4         1   2700           0      0        0
5         1   2701           0      0        0
6         2   5400           0      0        1
7         2   4000           0      0        1
8         2   6000           0      0        1
9         3   6000           1      0        0
10        3   5100           1      0        0
11        2   5000           1      0        0
12        2   5400           1      0        0
13        1   1000           0      1        0
14        3   2700           0      1        0

In [37]:
y=final.rate
y

0      2500
1      6000
2      9000
3      4000
4      3000
5      3200
6      9800
7      5000
8      9700
9     10000
10     8000
11     6000
12     8000
13     1200
14     4100
Name: rate, dtype: int64

In [33]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
model.predict([[3,2900,1,0,0]])

array([4883.73299488])

In [40]:
model.score(x,y)

0.9338590019135172

label encoding

In [41]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [46]:
dfle=df
dfle.housetype=le.fit_transform(dfle.housetype)
dfle

    housetype  bedroom  sqrft   rate
0           3        1   2300   2500
1           2        2   3000   6000
2           0        3   5000   9000
3           1        2   2680   4000
4           3        1   2700   3000
5           3        1   2701   3200
6           2        2   5400   9800
7           2        2   4000   5000
8           2        2   6000   9700
9           0        3   6000  10000
10          0        3   5100   8000
11          0        2   5000   6000
12          0        2   5400   8000
13          1        1   1000   1200
14          1        3   2700   4100

In [152]:
x=dfle[['housetype','bedroom','sqrft']].values
x

array([[   3,    1, 2300],
       [   2,    2, 3000],
       [   0,    3, 5000],
       [   1,    2, 2680],
       [   3,    1, 2700],
       [   3,    1, 2701],
       [   2,    2, 5400],
       [   2,    2, 4000],
       [   2,    2, 6000],
       [   0,    3, 6000],
       [   0,    3, 5100],
       [   0,    2, 5000],
       [   0,    2, 5400],
       [   1,    1, 1000],
       [   1,    3, 2700]], dtype=int64)

In [153]:
y=dfle[['rate']].values
y

array([[ 2500],
       [ 6000],
       [ 9000],
       [ 4000],
       [ 3000],
       [ 3200],
       [ 9800],
       [ 5000],
       [ 9700],
       [10000],
       [ 8000],
       [ 6000],
       [ 8000],
       [ 1200],
       [ 4100]], dtype=int64)

In [154]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(categorical_features=[1])

In [155]:
x=ohe.fit_transform(x).toarray()
x

array([[1.000e+00, 0.000e+00, 0.000e+00, 3.000e+00, 2.300e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 2.000e+00, 3.000e+03],
       [0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 5.000e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 2.680e+03],
       [1.000e+00, 0.000e+00, 0.000e+00, 3.000e+00, 2.700e+03],
       [1.000e+00, 0.000e+00, 0.000e+00, 3.000e+00, 2.701e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 2.000e+00, 5.400e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 2.000e+00, 4.000e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 2.000e+00, 6.000e+03],
       [0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 6.000e+03],
       [0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 5.100e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 5.000e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 5.400e+03],
       [1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 1.000e+03],
       [0.000e+00, 0.000e+00, 1.000e+00, 1.000e+00, 2.700e+03]])

In [156]:
x=x[:,1:]
x

array([[0.000e+00, 0.000e+00, 3.000e+00, 2.300e+03],
       [1.000e+00, 0.000e+00, 2.000e+00, 3.000e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 5.000e+03],
       [1.000e+00, 0.000e+00, 1.000e+00, 2.680e+03],
       [0.000e+00, 0.000e+00, 3.000e+00, 2.700e+03],
       [0.000e+00, 0.000e+00, 3.000e+00, 2.701e+03],
       [1.000e+00, 0.000e+00, 2.000e+00, 5.400e+03],
       [1.000e+00, 0.000e+00, 2.000e+00, 4.000e+03],
       [1.000e+00, 0.000e+00, 2.000e+00, 6.000e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 6.000e+03],
       [0.000e+00, 1.000e+00, 0.000e+00, 5.100e+03],
       [1.000e+00, 0.000e+00, 0.000e+00, 5.000e+03],
       [1.000e+00, 0.000e+00, 0.000e+00, 5.400e+03],
       [0.000e+00, 0.000e+00, 1.000e+00, 1.000e+03],
       [0.000e+00, 1.000e+00, 1.000e+00, 2.700e+03]])

In [157]:
y=dfle.rate
y

0      2500
1      6000
2      9000
3      4000
4      3000
5      3200
6      9800
7      5000
8      9700
9     10000
10     8000
11     6000
12     8000
13     1200
14     4100
Name: rate, dtype: int64

In [158]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [163]:
model.predict([[0,2,2,2900]])

array([7390.43389991])